<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobOverflow</title>
    <link rel="stylesheet" href="mainpage.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <style>
      /* Footer styles */
      footer {
          background-color: #333; /* Dark background color */
          color: #fff; /* Text color */
          padding: 20px; /* Padding for content inside footer */
          text-align: center; /* Center-align text */
          position: relative; /* Fixed position at the bottom */
          left: 0;
          bottom: 0;
          width: 100%;
      }
      /* Footer link styles */
      footer a {
          color: #fff; /* Link color */
          text-decoration: none; /* Remove underline */
      }
  </style>
    
  </head>
  <body>
   
   
    <header>
      <!-- navbar + searchbar with backgrnd image -->
      <div class="header_div">
        <div class="navbar">
          <div class="logo">
            <img src="bestlogo.png" alt="" width="220px" height="30px" />
          </div>
          <div style="font-size:20px ;" class="About_us">About Us</div>
         
          <!-- <div class="fa fa-user" aria-hidden="true"></div> -->
          <div class="profile">
            <span class="material-symbols-outlined"> account_circle </span>
          <p style="margin-top:1px ;font-size: 20px;"  >&nbsp;My Profile</p>
          </div>
          <div class="location">
            <span class="material-symbols-outlined"> language </span>
            <p style="margin-top: 2.7px; margin-left: 4px"><select id="countrySelect">
                <option value="India" selected>India</option>
                <option value="usa">United States</option>
                <option value="uk">United Kingdom</option>
                <option value="Japan">Japan</option>
                <option value="australia">australia</option>
                <option value="Russia">Russia</option>
                <option value="Germany">Germany</option>
                <option value="italy">italy</option>
                <option value="canada">Canada</option>
                <option value="pakistan">pakistan</option>
                <option value="singapore">singapore</option>
                <option value="switzerland">switzerland</option>
                <option value="malaysia">malaysia</option>
                <!-- Add more countries as needed -->
              </select>
  </p>
          </div>

          <div class="notification">
            <span class="material-symbols-outlined"> notifications </span>
          </div>
          <div class="profile">
            <!-- <span class="material-symbols-outlined">  </span> -->
          <a href="/event" style="margin-top:1px ;font-size: 20px;text-decoration: none;"  >&nbsp; Our events</a>
          </div>
        </div>

        <div class="search_bar">
          <b
            ><div class="tagline">
              Dream Big, Work Smart, <br />Achieve Career Bliss
            </div></b
          >
          <div class="mainbar">
            <input
              class="mainbar"
              type="text"
              placeholder="&nbsp;&nbsp;&nbsp;&nbsp;Search Jobs"
            />
            <div class="glass">
              <span class="material-symbols-outlined"> search </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <mid>
      <div class="popular_services">
        <b><div class="main_text">Popular Services</div></b>
        <br /><br />
        <div class="four_services">
          <div class="box box1">
            <div class="text"><a href="/resume">Resume Rating</a></div>
          </div>
          <div class="box box2">
            <div class="text"><a href="/courses">Courses offered</a></div>
          </div>
          <div class="box box3">
            <div class="text"><a href="/event">Upcoming Events</a></div>
          </div>
          <div class="box box4">
            <div class="text"><a href="/jobs">Available Jobs</a></div>
          </div>
        </div>
      </div>

      <div class="trusted_companies">
        <div class="companies_text">
          <b><p>Top companies trust us</p></b>
        </div>

        <div class="image-container">
          <!-- Seven images for moving effect -->
          <img class="moving-image" src="Amazon_logo.svg.png" alt="Image 1" />
          <img
            class="moving-image"
            src="Meta_Platforms_Inc._logo.svg.png"
            alt="Image 2"
          />
          <img
            class="moving-image"
            src="Eventbrite_Logo.svg.png"
            alt="Image 3"
          />
          <img
            class="moving-image"
            src="310px-NASDAQ_Logo.svg.png"
            alt="Image 4"
          />
          <img class="moving-image" src="Udemy_logo.svg.png" alt="Image 5" />
          <img
            class="moving-image"
            src="google.webp"
            alt="Image 6"
            height="100px"
          />
          <img
            class="moving-image"
            src="Meta_Platforms_Inc._logo.svg.png"
            alt="Image 7"
            height="50px"
          />
          <img
            class="moving-image"
            src="Meta_Platforms_Inc._logo.svg.png"
            alt="Image 8"
            height="50px"
          />
          <img
            class="moving-image"
            src="Meta_Platforms_Inc._logo.svg.png"
            alt="Image 9"
            height="50px"
          />
          <img
            class="moving-image"
            src="Meta_Platforms_Inc._logo.svg.png"
            alt="Image 9"
            height="50px"
          />
          <img
            class="moving-image"
            src="Meta_Platforms_Inc._logo.svg.png"
            alt="Image 9"
            height="50px"
          />
        </div>
      </div>

      <div class="custom-div">
        <div>
          <div class="number">300K+</div>
          <div>Companies hiring</div>
        </div>
        <div>
          <div class="number">10K+</div>
          <div>New openings everyday</div>
        </div>
        <div>
          <div class="number">21Mn+</div>
          <div>Active students</div>
        </div>
        <div>
          <div class="number">600K+</div>
          <div>Learners</div>
        </div>
      </div>
    </mid>

    <footer>
      <p>© 2024 Your Website. All rights reserved. | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
  </footer>
  </body>

  <script src="mainpage.js"></script>
</html>
