<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="navbar.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
</head>
<body>
    <div class="navbar">
        <div class="logo">
          <img src="bestlogo.png" alt="" width="89px" height="27px" />
        </div>
        <div style="font-size:20px ;" class="About_us">About Us</div>
        <div style="font-size:20px ;" class="login_signup">Login | Signup</div>
        <div class="location">
          <span class="material-symbols-outlined"> language </span>
          <p style="margin-top: 2.7px; margin-left: 4px">INDIA</p>
        </div>
    
        <div class="notification">
          <span class="material-symbols-outlined"> notifications </span>
        </div>
        <div class="profile">
          <span class="material-symbols-outlined"> account_circle </span>
        <p style="margin-top:1px ;font-size: 20px;"  >&nbsp;My Profile</p>
        </div>
      </div>
</body>
</html>